/* Estilo personalizado para encabezado */
header h1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 2rem;
}

/* Estilo para tabla al pasar el mouse */
table tbody tr:hover {
  background-color: #abceec;
}